  body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  button:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad,0 0 25px
    #ff96ad,0 0 50px #ff96ad,0 0 200px #ff96ad;
  }
  
  #result {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }